@font-face {
    font-family: 'Heineken Serif';
    src: url('HeinekenSerif18-Bold.woff2') format('woff2'),
        url('HeinekenSerif18-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heineken Serif';
    src: url('HeinekenSerif.woff2') format('woff2'),
        url('HeinekenSerif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* CUSTOM CSS */

article {
    font-weight: 400 !important;
}

.subtitle {
    font-weight: 400 !important;
}

.title{
    font-weight: 400 !important;
}