@font-face {
    font-family: 'Ulrich';
    src: url('Ulrich-Regular.woff2') format('woff2'),
        url('Ulrich-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
